
<!-- <div class="row">
	<div class="col-sm-4">
		<img class="side-nav-logo" ng-src="{{logo}}">
	</div>
	<div class="col-sm-8"></div>
</div> -->

<div class="row no-gutter mainnav-container">
	<div class="col-sm-4 nav-container">
		<ul class="nav nav-pills nav-stacked">
		  <li ng-repeat="folder in folders">
		  	<a class="side-bar-nav" ng-click="subFolder(folder.id); toggleClass($index)">
		  		
		  		<div class="row">

					<img src="{{folder.thumbnailUrl}}" class="col-sm-4 img-responsive sidenav-thumbnail">
					<span class="col-sm-8 pull-right folder-name">
						{{folder.name}}
					</span>
					
		  		</div>
				
		  	</a>
		  </li>
		</ul>
	</div>
	<div class="col-sm-8">
		<img src="common/img/mainlandingimage.jpg" class="img-responsive home-img">
	</div>	
</div>

<contact-card friend="testData" title="'Contact Card'"></contact-card>

<mfly-logo img="logo"></mfly-logo>	

<div ng-repeat="p in people">
	<div person-tile person="p"></div>
</div>
