<!-- TOP HALF OF PAGE -->


          <div class="text-center teamIncome">Team Income Gain Opportunity</div>
        
          <div class="text-center team-income-number" id="revenue-gain-total">1,000,000</div>

        <div class="">
          <div class="col-md-6 text-center expenses">
        	     <span class="current">Current</span><br>
               <span class="sales-expenses">Sales Presentation Expenses</span><br>
               <span id="sales-force-cost-total" class="currency_total">1,000</span><br>
               <span id="cost-of-presentations-total" class="currency_rep">1,000</span>
          </div>
        
          <div class="col-md-6 text-center hours">
              <span class="current">Current<br></span>
              <span class="sales-expenses">Time Preparing Presentations (hrs)</span><br>
              <span id="sales-force-hours-total" class="time_total">1,000</span><br>
              <span id="time-lost-per-week-total" class="time_rep">1,000</span>
          </div>
        </div>


<!-- GREEN ROW-->

    <div class="green-divider">
        <div class="boxWrap">
    	     <div class="col-xs-6 current_tab tabSlider-active">
        	     <span>Current</span>
            </div>
           <div class="col-xs-6 expectations tabSlider-nonactive">
        	     <span>Expectations</span>
           </div>
        </div>
    </div>

    <!-- CURRENT TAB GROUP -->

    <div id="tabGroups">
      <div class="tab-wrapper">
        <div class="currentGroup" data-target="current">
      	     <div class="current1">
               <span># of people in salesforce</span>
                <input type="text" value="500" id="salesForce" class="inputSliders current-input thousand">
                  <div id="slider2" class="sliders"></div>
              </div>
            <div class="current2">
                   <span>Sales rep earnings</span>
                  <input type="text" placeholder="$172,500" value="172500" id="salesrepEarnings" class="inputSliders current-input dollarSign" style="display:none;">
                  <div class="hackValue">$172,500</div>
                  <div id="slider1" class="sliders"></div>
            </div>	
            <div class="current3">
               <span># of in-person meetings/week</span>
               <input type="text" value="15" id="in-person" class="inputSliders current-input">
               <div id="slider5" class="sliders"></div>               
            </div>
            <div class="current4">
               <span>Hours spent searching & creating presentations/week</span>
               <input type="text" value="12" id="timeSearchCreate" class="inputSliders current-input">
               <div id="slider3" class="sliders"></div>               
            </div>	
            <div class="current5">
               <span>Printing & shipping presentation/year expenses</span>
               <input type="text" value="500050" id="print-ship" class="inputSliders current-input dollarSign2" style="display:none;">
               <div class="hackValue2">$500,050</div>
               <div id="slider4" class="sliders"></div>
            </div>  
        </div>
        <!-- Expectations Tab group -->
        <div class="expectationsGroup" data-target="expectations" style="display:none">
            <div class="current1">
                 <span>Yearly revenue expected from each rep</span>
                  <input type="text" value="1550000" id="yearlyRev" class="inputSliders yearlyRev dollarSign3" style="display:none; width:114%; text-align: center; margin-left: -8px;" >
                  <div class="hackValue3">$1,550,000</div>
                  <div id="slider6" class="sliders"></div>
            </div>
            <div class="current2">
                <span>Potential printing and shipping savings</span>
               <input type="text" value="50" id="printShip-savings" class="inputSliders">
               <div id="slider8" class="sliders"></div>                 
            </div>  
            <div class="current3">
               <span>With an app, % of reps have to create manually</span>
                <input type="text" value="50" id="manualReps" class="inputSliders">
                  <div id="slider7" class="sliders"></div>
            </div>
            <div class="current4">
               <span># of more presentations/month w/ an extra <div id="more-presentation-hours-total" class="lastDivHours">12</div></span>
               <input type="text" value="50" id="extraHours" class="inputSliders">
               <div id="slider9" class="sliders"></div>
            </div>  
        </div>
      </div>
    </div>
    <!-- Bottom Divider -->
    <div class="bottom-divider">
        <span class="arrow-left fa fa-chevron-left fa-2x"></span>
        <span class="refresh-btn fa fa-undo fa-2x"></span>

        <img src="_images/mediaflyroilogo.png" class="mflylogo center-block"/>
        
        <span class="arrow-right fa fa-chevron-right fa-2x"></span>
    </div>

</div>