/*===================================================================================


								Global Styles


====================================================================================*/
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;	
}

.margin-top-5 {
	margin-top:5px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-15 {
	margin-top:15px;
}

.margin-top-25 {
	margin-top:25px;
}
w
.margin-top-50 {
	margin-top:50px;
}

.margin-top-100 {
	margin-top:100px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.color-red {
	color:#ff0000;
}

/*===================================================================================


								UI Styles


====================================================================================*/
div[back-img]{
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    top:0;
    z-index: -1;
    background-repeat: no-repeat;
}

.ui-logo {
	width:400px;
	height:auto;
	z-index: 10;
	position: absolute;
	top:15px;
	left:15px;
}

/********       @Featured    *******/
.featured-container {
	margin:75px 45px 0 0;
}

.featured-thumb{
	z-index: 100;
	max-width:400px;
	max-height:auto;
}

/********    Top Level Sales    *******/

.top-sales-container {
	height:100%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.thumb {
	width:160px;
	height:160px;
	box-shadow: 3px 3px 3px #494948;
    display:block;
    float:left;
    list-style:none;
    margin:10px;
    padding:0;
    position:relative;
    right:50%;
}