/*===================================================================================


								Global Styles


====================================================================================*/
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;	
}

.margin-top-5 {
	margin-top:5px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-15 {
	margin-top:15px;
}

.margin-top-25 {
	margin-top:25px;
}
w
.margin-top-50 {
	margin-top:50px;
}

.margin-top-100 {
	margin-top:100px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.color-red {
	color:#ff0000;
}

.font-size-18 {
	font-size:18px;
}

.mfly-controlbar-header {
	width:100%;
	height:40px;
	background-color:#000;
	opacity: .25;
	color:#fff;
	position: fixed;
	top:0;
}

.mfly-controlbar-footer {
	width:100%;
	height:40px;
	background-color:#000;
	opacity: .25;
	color:#fff;
	position: fixed;
	bottom:0;
}

.mfly-controlbar-header span, .mfly-controlbar-footer span {
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.close-interactive {
	padding-left:25px;
}
.more-options {
	padding-right:20px;
}

.interactive-name {
	font-size:18px;
	padding:0 20px 0;
}

.footer-options span {
	padding-right:40px;
}

.settings {
	position: fixed;
	z-index: 100;
	bottom: 10px;
	left: 10px;
}

/*===================================================================================


								UI Styles


====================================================================================*/

/*=====================================

		     UI Full Screen

======================================*/
div[mfly-back-img]{
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    top:0;
    z-index: -1;
    background-repeat: no-repeat;
}


/********       @Featured    *******/
.featured-container {
	margin:75px 45px 0 0;
}

.featured-thumb{
	z-index: 100;
	max-width:400px;
	max-height:auto;
}

/********    Top Level Sales    *******/

.top-sales-container {
	height:100%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.thumb {
	width:160px;
	height:160px;
	box-shadow: 3px 3px 3px #494948;
    display:block;
    float:left;
    list-style:none;
    margin:10px;
    padding:0;
    position:relative;
    right:50%;
}











/* Side Nav Stack*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.mainnav-container {
	/*border:1px solid red; */
	height:500px;
}

.side-bar-nav {
	height:125px;
	background-color:#f2f2f2; /* this will be dynamic */
}

/*.folder-name {
	display: block;
	font-family: Helvetica, sans-serif;
	text-transform: uppercase;
	font-size:14px;
	font-weight: 400;
	margin-top:40px;
}*/

.home-img {
	width:100%;
	max-height:100%
}

/*subcategory page*/
.list-view {
	background-color:#f3f3f3;
	height:500px;
}

.purple-divider {
	height:7px;
	width:100%;
	background-color:#8D2680;
	margin-top:3px;
}

.main-content-list {
	list-style-type: none;
	padding:0;
	padding-top:25px;
	color:#3A2769;
	font-weight:bold;
	max-height:407px;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.main-content-list a {
	color:#3A2769;
	font-family: 'helveticaNeueBold', helvetica, sans-serif;
	text-decoration: none;
}

.main-content-list li {
	background-color:#E1D9E9; /* this will be dynamic */
	margin-bottom:5px;
	padding:8px 0 6px 15px;
	font-size:1.1em;
	font-family: Helvetica;
	font-weight: 300;
}