	

<img class="ui-logo" ng-src="{{logo}}">
<div back-img={{backgroundImage}}></div>


<!-- 
<div class="top-container">
	<img ng-repeat="folder in featured | orderBy: '-'" class="featured-thumb" ng-src="{{folder.thumbnailUrl}}" ng-click="openFolder(folder.id)">
</div>

<div class="bottom-container">
	<img ng-repeat="folder in topLevelSales" class="thumb" ng-src="{{folder.thumbnailUrl}}" ng-click="openFolder(folder.id)">
	<img class="thumb" src="images/my-items.png" ng-click="openMyItems()">
</div> -->
