<div class="row">

    <ul class="nav nav-tabs margin-top-50">
      <li role="presentation" class="active"><a href="#/sales"><i class="fa fa-pie-chart"></i> Sales</a></li>
      <li role="presentation"><a href="#/units"><i class="fa fa-pie-chart"></i> Units</a></li>
      <li role="presentation"><a href="#/table"><i class="fa fa-table"></i> Table</a></li>
      <li role="presentation" class="pull-right"><a href="#/"><i class="fa fa-home fa-2x"></i></a></li>
      <li role="presentation" class="pull-right" ng-click="snapshot()"><a href=""><i class="fa fa-floppy-o fa-2x"></i></a></li>
      <li role="presentation" class="pull-right"><a href="#/dialog"><i class="fa fa-plus"></i> New</a></li>
    </ul>

</div>

	
<div class="row">
	<div class="pull-left font-size-20 font-weight-bold">Wine Sales ({{outlet}} - {{weeks}} Weeks)</div>
	<div class="pull-right font-size-20 font-weight-bold">Total Sales: ${{sumTotal | number}}</div>
</div>

<div class="text-center">
	<div class="margin-top-25" id="pieChart"></div>
</div>

<span class="arrow-left fa fa-chevron-left fa-2x" ng-click="previousItem()"></span>
<span class="arrow-right fa fa-chevron-right fa-2x" ng-click="nextItem()"></span>




